<div *ngIf="formloaded && !sendClicked" class="mt-4">
    <div class="row">
        <div class="col-8">
            <h1 class="display-4">Sistema Experto</h1>
            <div class="jumbotron" *ngFor="let pregunta of questions; let i = index">
                <p class="lead">{{pregunta.title}}. {{pregunta.sentence}}</p>
                <hr class="my-4">
                <ng-container *ngFor="let opcion of pregunta.options">
                    <div class="form-check form-check-inline">
                        <input [formControl]="formArray.controls[i]" class="form-check-input" type="radio" [name]="i" [value]="opcion.methodologies" (change)="onChangeInput(opcion.methodologies)">
                        <label class="form-check-label" for="inlineRadio1">{{opcion.sentence}}</label>
                    </div>
                </ng-container>
            </div>
            <button class="btn btn-primary btn-lg my-3" (click)="fnCalculate()">Enviar</button>
        </div>
        <div class="col-4">
            <div style="position: fixed;">
                <h3 class="mt-2">Posibles metodologias</h3>
                <div *ngFor="let item of hardCode">
                    <div *ngIf="detail[item]" class="alert alert-primary" role="alert">
                        {{detail[item].nombre}}
                    </div><br *ngIf="detail[item]">
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="sendClicked">
    <h1 class="display-4 text-center mt-3">Metodologías de desarrollo para usted</h1>
    <div *ngFor="let method of arrMethodologiesNice">
        <div class="jumbotron bg-dark text-white m-5" *ngIf="detail[method]">
            <h1 class="display-4">{{detail[method].nombre}}</h1>
            <p class="lead" [innerHTML]="detail[method].caracteristicas"></p>
            <hr class="my-4">
            <p class="lead">
                <button class="btn btn-primary" type="button" (click)="navigateDetail(method)">Ver más</button>
            </p>
        </div>
    </div>

    <button class="btn btn-primary m-5" (click)="fnReset()">Generar nueva encuesta</button>
</div>